In [11]:
# !pip install pymysql

In [21]:
import pymysql

In [68]:
# création d'un connexion object
conn = pymysql.connect(host="localhost", port=3306, user="lanacroft", password="74Shawie74!", db="sys")

#### ATTENTION ! Si on rencontre des problèmes lors de la création de l'objet "conn", il faut créer un nouveau superutilisateur dans la console. 
1. sudo mysql -u root -p
2. on entre le mdp de sudo
3. on entre le mdp de mysql (74Shawie74!)
4. on est alors connecté à mysql dans la console
5. on crée un nouveau user :
    CREATE USER 'nom_user'@'localhost' IDENTIFIED BY 'mdp_user';
6. On lui attribue tous les privilèges (dans le cas d'un superutilisateur uniquement):
    GRANT ALL ON *.* TO 'nom_user'@'localhost' WITH GRANT OPTION;
7. le nouveau superutilisateur est créé et on peut utiliser les infos de connexion user et password dans le "conn"

In [69]:
# on crée un curseur en utilisant le connexion object créé ci-dessus
cursor = conn.cursor()

In [70]:
# on crée une bdd nommée testdb2
cursor.execute("CREATE DATABASE IF NOT EXISTS testdb2;")

1

In [71]:
# si on utilise SHOW DATABASES, on obtient le nombre de bdd existantes dans le curseur mais pas de liste de bdd
cursor.execute("SHOW DATABASES;")

11

In [72]:
# pour obtenir une liste de bdd, il faut utiliser ensuite, une commande "fetch"
# il existe 3 types de commandes fetch :
# - cursor.fetchone() pour renvoyer un seul résultat
# - cursor.fetchmany(10) pour renvoyer, ici, 10 résultats
# - cursor.fetchall() pour renvoyer tous les résultats
# on peut aussi utiliser list(cursor) pour récupérer tout ce qu'il y a dans le curseur

# ici on va utiliser fetchall pour voir toutes les bdd
cursor.fetchall()

(('foodly',),
 ('foodly2',),
 ('information_schema',),
 ('moviz',),
 ('moviz2',),
 ('mysql',),
 ('performance_schema',),
 ('school',),
 ('sys',),
 ('testdb',),
 ('testdb2',))

In [73]:
# on supprime la bdd testdb2 avec DROP DATABASE

cursor.execute("DROP DATABASE testdb2;")

0

In [74]:
cursor.execute("SHOW DATABASES;")
cursor.fetchall()

(('foodly',),
 ('foodly2',),
 ('information_schema',),
 ('moviz',),
 ('moviz2',),
 ('mysql',),
 ('performance_schema',),
 ('school',),
 ('sys',),
 ('testdb',))

In [85]:
# on choisit la bdd à utiliser
cursor.execute("USE testdb;")

0

In [99]:
# on crée la table person en utilisant une variable person_table et ''' ''' pour que ce soit plus lisible
person_table = '''CREATE TABLE IF NOT EXISTS person (
person_id MEDIUMINT UNSIGNED,
first_name VARCHAR(50),
last_name VARCHAR(50),
age TINYINT UNSIGNED,
marital_status TINYINT(1),
country VARCHAR(75),
PRIMARY KEY(person_id)
);'''

# on exécute la requête person_table
cursor.execute(person_table)

0

In [100]:
# pour vérifier les colonnes de la table on utilise la commande DESC (=describe) puis fetchall pour afficher
cursor.execute("DESC person;")
cursor.fetchall()

(('person_id', 'mediumint unsigned', 'NO', 'PRI', None, ''),
 ('first_name', 'varchar(50)', 'YES', '', None, ''),
 ('last_name', 'varchar(50)', 'YES', '', None, ''),
 ('age', 'tinyint unsigned', 'YES', '', None, ''),
 ('marital_status', 'tinyint(1)', 'YES', '', None, ''),
 ('country', 'varchar(75)', 'YES', '', None, ''))

In [101]:
# on va insérer une ligne dans notre bdd person
# on crée une variable avec la requête :
one_row = '''INSERT INTO person(
person_id, first_name, last_name, age, marital_status, country)
VALUES(1, "John", "smith", 23, 0, "United States");'''

# ATTENTION : si on insère bien une valeur dans chaque colonne et dans l'ordre, on n'est pas obligés de donner
# les noms des colonnes.
# on peut simplement faire INSERT INTO person VALUES(1, "John", "smith", 23, 0, "United States");

# on exécute la requête :
cursor.execute(one_row)

1

In [102]:
# si on veut insérer plusieurs entrées :
mult_rows = '''INSERT INTO person
VALUES(2, 'Mary', 'Adams', 53, 1, 'France'),
      (3, 'Luke', 'Perry', 18, 0, 'England');'''

cursor.execute(mult_rows)

2

In [104]:
# cursor.execute("SELECT * FROM person;")

3

In [98]:
cursor.execute("DROP TABLE person;")

0

### EXERCICE : créer une bdd school et une table students

In [105]:
cursor.execute("CREATE DATABASE IF NOT EXISTS school;")

1

In [106]:
cursor.execute("USE school;")

0

In [107]:
student_table = '''CREATE TABLE IF NOT EXISTS students(
student_id MEDIUMINT UNSIGNED,
first_name VARCHAR(50),
last_name VARCHAR(50),
address TEXT,
state CHAR(2),
date_of_birth DATE,
phone_number BIGINT,
gender ENUM('male', 'female'),
PRIMARY KEY(student_id)
);'''

In [108]:
cursor.execute(student_table)

0

In [109]:
# vérification des colonnes datatypes de la table
cursor.execute("DESC students;")
cursor.fetchall()

(('student_id', 'mediumint unsigned', 'NO', 'PRI', None, ''),
 ('first_name', 'varchar(50)', 'YES', '', None, ''),
 ('last_name', 'varchar(50)', 'YES', '', None, ''),
 ('address', 'text', 'YES', '', None, ''),
 ('state', 'char(2)', 'YES', '', None, ''),
 ('date_of_birth', 'date', 'YES', '', None, ''),
 ('phone_number', 'bigint', 'YES', '', None, ''),
 ('gender', "enum('male','female')", 'YES', '', None, ''))

In [111]:
# insérer 4 lignes d'étudiants dans la table
mult_students = '''INSERT INTO students VALUES
(1, "Luke", "Perry", '3 avenue of roses', "AL", "1997-09-15", 060503458564, "male"),
(2, "Mary", "Perry", '3 avenue of roses', "AL", "1999-04-21", 060503748974, "female"),
(3, "George", "Kennedy", '45 sunset boulevard avenue', "CA", "1977-02-09", 060868858564, "male"),
(4, "Lucy", "Jameson", '745 5th avenue', "NY", "2000-05-12", 068977034564, "female");
'''
cursor.execute(mult_students)

4

In [84]:
cursor.execute("SHOW DATABASES;")
cursor.fetchall()

(('foodly',),
 ('foodly2',),
 ('information_schema',),
 ('moviz',),
 ('moviz2',),
 ('mysql',),
 ('performance_schema',),
 ('school',),
 ('sys',),
 ('testdb',))

In [66]:
# cursor.execute("DROP TABLE students;")

**FIN DE L'EXERCICE**

In [67]:
# ATTENTION ! Toujours penser à fermer la connexion pour des questions de sécurité et de performances du serveur

conn.close()